# (Optional)
default-language: lua

# (Optional)
lua-config:
  # (Optional)
  preamble: dofile("../my-shared-script.lua")
  # (Optional)
  use-prelude: true

# (Optional) (or specify "dependency-command")
dependencies:
  aaa:
  - bbb
  - ccc
  ccc:
  - ddd
  - eee

# (Optional) (or specify "dependencies")
dependency-command:
  # (Optional)
  language: lua
  # (Optional)
  use-prelude: true
  # (Required)
  script: |
    if prelude.is_file("Config") then
      return prelude.parse_config(prelude.read_file_lines("Config"))
    else
      return {}
    end
